*,html,body
{
    margin: 0px;
    padding: 0px;
}

body 
{
    overflow-x: hidden;
    height: 3000px;
}
header 
{
    height: 112px;
    line-height: 118px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.secondary
{
    background-color:  #0d0d0d; 
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.3s ease-in;
}
ul
{
    list-style: none;
}
ul li
{
    display: inline-block;
    letter-spacing: 0.025em;
}
header nav 
{
  float: right;  
}
header nav ul li a
{
    padding-right: 40px;
    color: white;
    font-weight:lighter;
	transition: all 0.2s ease-in;
}
header nav ul li a:hover,header nav ul li a:focus
{
	text-decoration: none;
	color: #ff9900;
	cursor: pointer;	
}
.img1
{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(..//Images/main.jpg);  
  background-size: cover; 

}
.slider ul li
{
    height: 850px;
    width: 100%;
    color: white;
    text-align: center;
}
.slider h2
{
    font-weight: bold;
    margin-top: 330px;
    letter-spacing: 0.025em;
}
.slider h3
{ 
    font-family: cursive;
    letter-spacing: 0.015em;
}
.img2
{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(..//Images/main2.jpg);
    background-size: cover;
}
.img3
{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(..//Images/main3.jpg);
    background-size: cover;
}
.slider-carousel li
{
    background-position: center;
    background-size: cover;
}

.slider a
{
   margin-right: 20px; 
   color: white;
}
.slider a:hover{
    color: orange;
	cursor: pointer;
    transition: all 0.2s ease-in;
}

.intro-area white
{
    position: relative;
    padding: 100px 0px;
    text-align: center;
    letter-spacing: 0.020em;
    
}

.sub-heading
{
   position: relative;
   margin-bottom: 75px;
    margin-top: 20px;
}
.sub-heading:before
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: #e68a00;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.sub-heading:hover:before
{
    transform-origin: center;
    transform: scaleX(4.2);
}
.sub-heading:after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left:-12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p 
{
    color:#818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;

}

.intro-block 
{
    position: relative;
    background: #f7f7f7;
    margin: 50px 0px 0px;
    padding: 70px 25px 0px;
    text-align: center;
    height: auto;
    
}
.intro-block:hover,.intro-block.active
{
    background:#8c8c8c;
}
.intro-block:hover
{
transition: 0.3s ease-in;
   -webkit-transition: 0.3s ease-in;
   -moz-transition: 0.3s ease-in;
   -o-transition: 0.3s ease-in;
   -ms-transition: 0.3s ease-in;
}
.intro-block .intro-icon
{
    position: relative;
    top: -31px;
    margin-left: -31px;
}

.intro-block .fa
{
    width: 63px;
    height: 63px;
    font-size: 30px;
    line-height: 2;
    color: white;
    background: #8c8c8c;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #CCEEF9;
    margin-bottom: 30px;
}

.intro-block:hover .fa, .intro-block.active .fa
{
    background-color: white;
    color:#262626;
    box-shadow: 0px 0px 0px 10px #e68a00;
}
.intro-block h3 
{
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 15px;
    

}
.prices h4
{
   color:  #4080bf;
}
.in-touch a:hover{
    color: #e68a00;
	cursor: pointer;
    transition: all 0.2s ease-in;
    text-decoration: none;
}

.intro-block p
{
    color: #505050;
    padding-left: 20px;
    padding-top: 10px;
}
.intro-block:hover h3, .intro-block:hover p
{
    color: #f6f6f6;
}

.pic-block
{
    background-image: url(..//Images/img3.jpg);
    margin: 50px 0px 0px;
    padding: 60px 25px 40px;
    min-height: 455px;
    text-align: center;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
    margin-top: 68px;
}
.media
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//Images/back2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 80px;
    margin-top: -80px;
}
.carousel-indicators
{
    margin-bottom: -60px;
}
.media h2
{
    color: white;
    letter-spacing: 0.020em;
}


.media .sub-heading p
{
    color: white;
}
.media .carousel-indicators li.active
{
    background-color: #e68a00;
}
.image-wrapper
{
    overflow: hidden;
    margin-top: 100px;
}
.image-wrapper img
{
    transition: transform .4s ease;
}
.image-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}

.lessons
{
    padding: 140px 0px;
    letter-spacing: 0.020em;
    margin-top: -60px;


}

.lessons .sub-heading
{
    margin-bottom: 100px;
    margin-top: 20px;
}

.lesson
{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -50px;
    overflow: hidden;
    min-height: 100px;
    height: 100px;
    width: 90px;
    min-width: 100px;
    border-radius: 50%;
}

.lesson img
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%
    border-radius: 50%;
    
}

.lesson-block h3
{
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    padding-top: 70px;
    margin-bottom: 5px;
    letter-spacing: 0.025em; 
    margin-top: 20px;
}
.lesson-block p
{
    color: dimgray;
    font-size: 14px;
    padding: 25px 15 px;
    margin-top: 24px;   
}
.lesson-description
{
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.lesson-block
{
    text-align: center;
    position: relative;
    margin-bottom: 90px;
}

.lesson-block:hover .lesson-description
{
 
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
}

.in-touch
{
    padding-top: 5px;
 
}
.prices
{
    padding-top: 15px;
}
.prices h4
{
   font-weight: bold;
}
.in-touch h4
{
      font-weight: bold;
}
.contact-area
{
    padding: 40px 0;
    color: white;
    background-color: #0d0d0d;
    margin-top: -120px;
}

.contact-area .sub-heading p
{
    color: white;
}
.divider
{
    border-right: 1px solid white;
}
.contact-area ul li
{
    overflow: hidden;
    margin-bottom: 25px; 
    margin-top: 20px;
}
.contact ul li .fa
{
   float: left;
   width: 30px;
   font-size: 30px;
}
.contact ul li .address-phone
{
    float: left;
    width: 180 px;
    padding-left: 25px;
}
.contact-block
{
   padding-left: 25px; 
}
.social-list a
{
    display: flex;
    color: white;
    list-style: none;
    margin-left: 10px;
    padding-left: 5px;
}
.contact ul li a:hover{
    color: orange;
	cursor: pointer;
    transition: all 0.2s ease-in;
    text-decoration: none;
}
.contact ul li a {
    margin-left: 20px;
}
.contact-area .form-control, .contact-area .textarea
{
    font-family: 'Roboto',sans-serif;
    background-color: #f8fdff;
    border: 1px solid #a5d3eb;
    padding: 10 px 12 px;
    color: #bdbdbd;
    height: 45px;
    font-weight: 400;
    border-radius: 0;
    
}
.contact-area .form-group
{
    margin-bottom: 24px;
}
.contact-area textarea
{
    min-height: 117px;
}
.contact-area .default-btn
{
    padding: 10px;
    color: black;
}

.signature
{
    padding-top: 40px;
}














